{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
        <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="../static/js/vendor/jquery-1.10.2.min.js"></script>
		
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
			<div id="fb-root"></div>
	<script>
	
	  window.fbAsyncInit = function() {
        FB.init({
          appId      : '1476844835896069',
          xfbml      : true,
          version    : 'v2.0'
        });
      };
	
		  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "http://connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
	</script>

        <!-- Add your site or application content here -->
        <h1>Welcome to the Euler App</h1>
		
		<h3>Enter Euler Question Data Below</h3>
		
		
		
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>
		<fb:login-button length="long"></fb:login-button>
		<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">Login with facebook</div>
		<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1">Login w/ Facebook</div>

        <script src="js/main.js"></script>


    </body>
</html>
{% endblock %}
